html,
body,
.flex,
article {
    height: 100%;
}

.flex article {
    display: flex;
    flex-direction: column;
}

.flex .top {
    height: 150px;
    background: #002060;
}

.flex .middle {
    flex: 1;
    height: 100%;
    background-image: url("/static/Img/图片2.png");
    background-size: 100% 100%;
}

.flex .bottom {
    height: 40px;
    background: #2f5597;
}

p#p1 {
    color: #EEEEEE;
    font-size: 30px;
}

.left-group {
    width: 33%;
    text-align: left;
    float: left;
    font-size: 20px;
    color: #EEEEEE;
}

.right-group {
    width: 33%;
    text-align: right;
    float: left;
    font-size: 20px;
    color: #EEEEEE;
}

.mid-group {
    /*flex: 1;*/
    width: 34%;
    text-align: center;
    float: left;
    font-size: 20px;
    color: #EEEEEE;
}

/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: #9dc3e6;
    flex: 1;
    height: 100%;
text-align: center;
}

/* 导航链接 */
.topnav li {
    float: left;
    display: block;
    color: #002060;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
}

.topnav li a {
    float: left;
    display: block;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
}

/* 链接 - 修改颜色 */
.topnav li a:hover {
    background-color: #9dc3e6;
    color: white;
    font-size: 20px;
}

div#database01 {
    width: 100%;
    height: 40%;
    text-align: center;
    color: #002060;
    font-size: 40px;
}

div#database01-1 {
    position: absolute;
    text-align: center;
    padding-top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#database02 {
    width: 100%;
    height: 20%;
}

div#database03 {
    width: 100%;
    height: 40%;
}

.left-group01 {
    width: 40%;
    text-align: right;
    float: left;
    font-size: 20px;
    color: #EEEEEE;
}

.right-group01 {
    width: 40%;
    text-align: left;
    float: left;
    font-size: 20px;
    color: #EEEEEE;
}

.mid-group01 {
    /*flex: 1;*/
    width: 20%;
    text-align: center;
    float: left;
    font-size: 20px;
    color: #EEEEEE;
}

#button1 {
    background: transparent;
    color: #EEEEEE;
    border: 2px solid white;
}

#search {
    text-align: center;
    background-color: transparent;

}

#search1 {
    border-radius: 30px;
    opacity: 0.6;
    filter: none;
    font-size: 30px;
}

.bianse {
    color: #0000ff;
}

.bianse1 {
    color: #002060;
}
.hide {
    display: none;
}

.c1{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
    z-index: 10;
}
.c2{
    background-color: white;
    position: fixed;
    width: 781px;
    height: 586px;
    top: 40%;
    left: 40%;
    z-index: 3;
    margin-top: -150px;
    margin-left: -200px;
    z-index: 11;
    border-radius: 21px;
    overflow: hidden;
}