
.h1-1 {
    color: #002060;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


.box{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(221, 232, 242, 1);
}

.box .title{
    display: inline-block;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #000080;
}



.box .ss{
    vertical-align: top;
    margin-top: 10px;
    font-weight: 700;
    font-style: normal;
    color: #333333;
}


.content input{
    display: inline-block;
    vertical-align: top;
    padding: 2px 2px 2px 2px;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    padding: 2px 2px 2px 2px;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #000000;
    background-color: rgba(255, 255, 255, 1);
}
.blank {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}
.blank span{
    margin: auto;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #7F7F7F;
}

/* #exact{
    margin-left: 200px;
} */

.box2{
    width: 100%;
    height: 250px;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    border-width: 1px;
    border-style: solid;
    background-color: rgba(221, 232, 242, 1);
}
    
.box2 .content1{
    display: inline-block;
    /* background-color: #94080f; */
    vertical-align: top;
    

}
.content1 .span1{
    margin: auto;
    font-style: normal;
    color: #000080;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
.content1 .span2{
    margin: auto;
    font-style: normal;
    color: #000080;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.content2{
    width: 600px;
    vertical-align: top;
    font-family: 'Arial Normal', 'Arial', sans-serif;
}
.con_line{
    width: 100%;
    height: 60px;
    /* background-color: #555; */
}
.con_block{
    width: 70px;
    height: 50px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}

.con_block span{
    margin-top: 30px;
    font-weight: 400;
    font-style: normal;
    color: #7F7F7F;
}
.con_line select{
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 2px 2px 2px 2px;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #AAAAAA;
    background-color: rgba(255, 255, 255, 1);
}

input::-webkit-input-placeholder {
    color: #AAAAAA;
}

.con_img{
    display: inline-block;
    vertical-align: top;
}

.con_text{
    display: inline-block;
    vertical-align: top;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000080;
    text-align: center;
    padding-top: 5px;
}

.sub{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}


.sub button{
    margin: auto;
    width: 197px;
    height: 57px;
    background: inherit;
    background-color: rgba(0, 112, 192, 1);
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #F2F2F2;
    text-align: center;
    box-shadow: none;
    border-width: 0px;
    border-radius: 10px;
}

.content .mouseOver{
    color: #000080;
    background-color: rgba(228, 228, 228, 1);
}

.content2 .mouseOver{
    color: #000080;
    background-color: rgba(228, 228, 228, 1);
}



input[type="checkbox"]{
    margin-top: 5px;
    width: 30px;
    height: 30px;
}


@media screen and  (min-width: 831px)  {
    .middle_class{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        font-size: 1rem;
    }

    .middle_class div{
        flex: 0 0  60px;
    }
    .middle_class h1    {
        flex: 0 0  60px;
        color: #000080;

    }

    .box{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    .box .title{
        flex : 0 0 100px;
        line-height: 55px;
    }
    .box .content{
        flex : 0 0 40%;
        display: flex;
        line-height: 20px;
        margin-top: 10px;
    }
    .box2{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    .box2 .content1{
        flex:0 0 30%;
    }
    .box2 .content2{
        flex:0 0 50%;
    }
    .con_line{
        display: flex;
    }
    .con_line select{
        width: 80%;
    }

    .content1{
        margin-top: 30px;
    }

    .box .con_img{
        margin-top: 10px;
        flex:0 0 30%
    }
    .box .con_text{
        margin-top: 10px;
        flex:0 0 40%
    }
    
}

@media only screen and (max-width: 830px){
    .middle_class{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        font-size: 1rem;
    }

    .middle_class div{
        flex: 0 0  60px;
    }
    .middle_class h1    {
        flex: 0 0  60px;
        color: #000080;

    }

    .box{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .box .title{
        flex : 0 0 100px;
        line-height: 55px;
    }
    .box .content{
        flex : 0 0 40%;
        display: flex;
        line-height: 20px;
        margin-top: 10px;
    }
    .box2{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    .box2 .content1{
        flex:0 0 30%;
    }
    .box2 .content2{
        flex:0 0 50%;
    }
    .con_line{
        display: flex;
    }
    .con_line select{
        width: 80%;
    }

    .content1{
        margin-top: 30px;
    }

    .box .con_img{
        margin-top: 10px;
        flex:0 0 30%
    }
    .box .con_text{
        margin-top: 10px;
        flex:0 0 40%
    }
    .content div{
        flex: 0 0 
    }

}
@media  screen and (max-width: 580px){
    #boxx{
        flex-wrap: wrap;
        justify-content:space-around;
        margin: 0px;
        padding: 0px;
    }
}


