<?xml version="1.0" encoding="UTF-8"?>

    <configuration>

        <system.webServer>

            <handlers>

                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\annocando\envs\my_py_env\python.exe|D:\annocando\envs\my_py_env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />

            </handlers>
        <directoryBrowse enabled="true" />

        </system.webServer>

        <appSettings>

            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />

            <add key="PYTHONPATH" value="D:\py\Mypro" />

            <add key="DJANGO_SETTINGS_MODULE" value="Mypro.settings" />

        </appSettings>

    </configuration>
