<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/lj_total.css">
</head>
<body>
    <div class="bottom">
        <div class="group">Pert of OneSediment in the DDE</div>
        <div class="group">Funded by the NSFC</div>
        <div class="group">Ocean Sediment Database,Copyright @ 2022</div>
    </div>
</body>
</html>