<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../css/lj_total.css">
</head>
<body>
    <div class="top">
        <div style="height: 50%;">
            <p id="p1" >
                Ocean Sediment Database
                <button type="button" style="float: right;width: 150px;height: 40px;border-radius:15px;border-color: white;
                  color: #a5aab0;font-weight: bold;background:transparent;margin-right: 20px">
                    <img src="../Img/登录.png" style="width: 20px">
                    <div style="float: right;padding-top: 5px">Login/Register</div>
                </button>
            </p>
        </div>
        <div class="topnav">
                <a id="1" class="bianse1" target="_parent" href="Home.html" onclick="showsubmenu(this.id)">Home</a>
                <a id="2" class="bianse1" target="_parent" href="Introduction.html" onclick="showsubmenu(this.id)">Introducation</a>
                <a  id ="3" class="bianse1" target="_parent" href="access_data.html" onclick="showsubmenu(this.id)">Acces Data</a>
                <a id ="4" class="bianse1" target="_parent" href="#" onclick="showsubmenu(this.id)">Submit Data</a>
                <a id="5" class="bianse" target="_parent" href="./about_as.html" onclick="showsubmenu(this.id)">About us</a>
        </div>
    </div>
</body>
</html>